body{
    margin: 0;
}

header{
    display: flex;
    background-color: #201F1F;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.header-logo{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-around;
}

.separator{
display: flex;
width: 2px;
height: 42px;
background: white;
}

.header-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.header-links a:link{
    text-decoration: none;
    color: white;
}

.header-profil{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.profil-icon{
    display: flex;
    margin-right: 20px;
}

.middle-div{
    display: flex;
    background-image: url(/src/background.svg);
    width: auto;
    height: 1050px;
    background-color: #FF4656;
    flex-flow: row wrap;
}

.middle-left-section{
    display: flex;
    margin-top: 80px;
    margin-left: 40px;
    width: 20%;
    height: 800px;
    flex-flow: row wrap;
}

.middle-left-section-header{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: flex-end;
}

.middle-left-section-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 640px;
}

.middle-left-section-left-1{
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: center;
    margin-top: 50px;
}

.middle-left-section-rectangle{
    display: flex;
    height: 10px;
}

.middle-left-section-left-2{
    display: flex;
    width: 100%;
    height: 170px;
    justify-content: center;
    margin-left: -19px;
}

.middle-left-section-dot{
    display: flex;
    height: 10px;
}

.middle-left-section-left-3{
    display: flex;
    height: 300px;
    flex-flow: row-reverse wrap-reverse;
}

.middle-left-section-logo{
    display: flex;
    height: 80px;
    margin-bottom: 4px;
}

.middle-left-section-right{
    display: flex;
    width: 50%;
    height: 640px;
}

.middle-left-section-right-agents-text{
    display: flex;
    justify-content: center;
    height: 640px;
    width: 100%;
}

.middle-left-section-footer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.line-middle-footer{
    display: flex;
    width: 190px;
    margin-right: 80px;
}

.middle-right-section{
    display: flex;
    flex-flow: row wrap;
    width: 76%;
    height: 800px;
    margin-top: 80px;
    margin-left: 50px;
}

.middle-right-section-header{
    display:flex;
    width: 100%;
    height: 80px;
}

.middle-right-section-header-1{
    display: flex;
    width: 50%;
    height: 80px;
    justify-content: center;

}

.quadre-middle-right-section-header{
    display: flex;
}

.middle-right-section-header-2{
    display: flex;
    width: 50%;
    height: 80px;
    justify-content: center;
}

.middle-right-section-middle{
    display: flex;
    width: 100%;
    height: 680px;
}

.middle-right-section-left{
    display: flex;
    width: 40%;
    height: 100%;
    margin-left: 60px;
    /* background-color: black; */
    align-items: center;
    justify-content: space-between;
}

.name{
    display: flex;
    position: absolute;
    width: 150px;
    height: 290px;
    z-index: 600;
    margin-top: 36px;
    margin-left: -75px;
}

.country{
    display: flex;
    position: absolute;
    width: auto;
    margin-top: 35px;
    margin-left: 29px;
    height: 200px;
    z-index: 600;
}

.middle-right-section-left-phoenix{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.phoenix{
    display: flex;
    position: relative;
    background-color: #201F1F;
    width: 80%;
    height: 620px;
    z-index: 2;
}

.skills-section{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 600;
    height: 620px;
    width: 280px;
    margin-top: 45px;
    margin-left: 35px;
}

.skills-icons-section{
    display: flex;
    justify-content: center;
    margin-bottom: -93px;
    width: 200px;
}

.skills{
    display: flex;
    width: 220px;
    height: 80px;
    margin-right: -80px;

}

.middle-right-section-left-jett{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    margin-right: 0;
}

.jett{
    display: flex;
    position: relative;
    background-color: #201F1F;
    width: 80%;
    height: 620px;
    z-index: 2;
}

.name-jett{
    display: flex;
    position: absolute;
    width: 100px;
    height: 200px;
    z-index: 600;
    margin-top: 18px;
    margin-left: -25px;
}

.country-jett{
    display: flex;
    position: absolute;
    width: 100px;
    height: 150px;
    z-index: 600;
    margin-top: 18px;
    margin-left: -5px;
}

.middle-right-section-middle-space-1{
    display: flex;
    width: 2%;
    height: 620px;
    flex-flow: column wrap;
}

.middle-right-section-middle-1{
    display: flex;
    width: 100%;
    height: 10%;
    margin-left: -40px;
    margin-top: 20px;
}

.middle-right-section-middle-2{
    display: flex;
    width: 100%;
    height: 25%;
}

.middle-right-section-middle-3{
    display: flex;
    width: 100%;
    height: 40%;
    margin-left: -80px;
}

.middle-right-section-middle-4{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: -20px;
}

.middle-right-section-sova{
    display: flex;
    width: 17%;
    height: 100%;
}

.sova{
    display: flex;
    position: relative;
    background-color: #201F1F;
    width: 289px;
    height: 620px;
    z-index: 2;
}

.name-sova{
    display: flex;
    position: absolute;
    width: 100px;
    height: 200px;
    z-index: 600;
    margin-top: 30px;
    margin-left: -50px;
}

.country-sova{
    display: flex;
    position: absolute;
    width: 100px;
    height: 80px;
    z-index: 600;
    margin-top: 16px;
    margin-left: -5px;
}

.middle-right-section-middle-space-2{
    display: flex;
    width: 2%;
    height: 620px;
    flex-flow: column wrap;
}

.middle-right-section-right-1{
    display: flex;
    width: 100%;
    height: 40%;
    flex-flow: column-reverse wrap;
}

.middle-right-section-right-2{
    display: flex;
    width: 100%;
    height: 50%;
    flex-flow: column wrap;
    margin-top: 50px;
    margin-left: -23px;
}

.middle-right-section-sage{
    display: flex;
    width: 17%;
    height: 100%;
    margin-left: 20px;
}

.sage{
    display: flex;
    position: relative;
    background-color: white;
    width: 289px;
    height: 620px;
    z-index: 2;
}

.name-sage{
    display: flex;
    position: absolute;
    width: 100px;
    height: 200px;
    z-index: 600;
    margin-top: 13px;
    margin-left: -25px;
}

.country-sage{
    display: flex;
    position: absolute;
    width: 100px;
    height: 80px;
    z-index: 600;
    margin-top: 25px;
    margin-left: 30px;
}

.middle-right-section-footer{
    display: flex;
    width: 83%;
    height:50px;
    margin-top: -45px;
    flex-direction: row;
}

.middle-right-section-footer-1{
    display: flex;
    width: 86%;
    height:50px;
    flex-direction: row-reverse;
}
.middle-right-section-footer-2{
    display: flex;
    width: 14%;
    height:50px;
    flex-direction: row-reverse;
    margin-top: -25px;
    margin-right: 25px;
}

.middle-skills-descriptions{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    margin-top: 50px;

}

.skills-description{
    display: flex;
    width: 600px;
}